body {
    background-color: DeepPink;
    background-image: "sky over water from web.jpg";
    color:chartreuse;
    margin-left: 20px;
}

h1 {
    color: black;
    text-align: center; 
    font-size: 20px;
}
